[submodule "Diabetes-Readmission-Predictor"]
	path = Diabetes-Readmission-Predictor
	url = https://github.com/DomenicoDErasmo/Diabetes-Readmission-Predictor
[submodule "GraphTheoryReview"]
	path = GraphTheoryReview
	url = https://github.com/DomenicoDErasmo/GraphTheoryReview
[submodule "Recursive-LS"]
	path = Recursive-LS
	url = https://github.com/DomenicoDErasmo/Recursive-LS
[submodule "SongRanker"]
	path = SongRanker
	url = https://github.com/DomenicoDErasmo/SongRanker
[submodule "cpp_build_test"]
	path = cpp_build_test
	url = https://github.com/DomenicoDErasmo/cpp_build_test
[submodule "LeetCode"]
	path = LeetCode
	url = .\\LeetCode\\
